@font-face {
  font-family: poppins;
  font-style: normal;
  font-weight: 400;
  src: local('Poppins'), url(assets/Poppins-Regular.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background-color: #fff0f0;
  font-family: "Poppins", sans-serif;
  color: #fffafa;
}

#container::before {
  content: "";
  position: fixed;
  background-image: url(assets/pattern.png);
  background-size: 15rem;
  transform: rotate(15deg);
  opacity: 0.65;
  inset: 0;
}

#container {
  position: fixed;
  margin: 1.5rem;
  padding: 5rem;
  background-color: #ffbed7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  inset: 0;
  z-index: 100;
  gap: 13rem;
}

#wave {
  position: absolute;
  width: 100%;
  bottom: -10%;
  filter: opacity(50%) drop-shadow(0 -10px 5px #ff22911f);
  transition: transform .3s ease;
}

#wave:hover {
  transform: translateY(-25px);
}

#name {
  filter: drop-shadow(5px 5px 3px #f963ae2f);
}

#name-break {
  display: none;
}

#name > h1 {
  position: relative;
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  transition: transform .3s ease;
  z-index: 900;
}

#name > h1:hover {
  transform: rotate(-5deg) scale(1.1);
}

#name > h2 {
  line-height: 2rem;
  font-size: 3rem;
  color: #ff2291;
  transition: transform .3s ease;
}

#name > h2:hover {
  transform: translateX(5%);
}

#cv {
  margin-top: 2rem;
  font-size: 1.5rem;
  width: fit-content;
  filter: drop-shadow(3px 3px 2px #f963ae7f);
  transition: transform .3s ease;
}

#cv:hover {
  transform: translateX(10%);
}

#search-container {
  position: relative;
  margin-left: 5rem;
  top: 1.5rem;
}

#search {
  position: absolute;
  padding: 1.25rem 2rem;
  background-color: #ffffff5f;
  border: none;
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  min-width: 120px;
  width: 100%;
  z-index: 300;
  box-shadow: 5px 5px 5px #f963ae3f;
  transition: background-color 0.1s ease;
}

#search:active, #search:focus, #search:hover {
  background-color: #ffffff7f;
  outline: none;
}

#button {
  position: absolute;
  padding: 0.75rem 1.5rem;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #ffffffdf;
  border: none;
  border-radius: 3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
  z-index: 400;
  transition-property: background-color color;
  transition-duration: .1s;
  transition-timing-function: ease;
}

#button:active, #button:focus, #button:hover {
  background-color: white;
  color: #333;
  outline: none;
}

#pins {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  top: 7.5rem;
  text-align: right;
  gap: 2rem;
}

#pins > img {
  position: relative;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 3rem;
  border: #ff2291 3px solid;
  box-shadow: 5px 5px 5px #f963ae3f;
  z-index: 500;
  transition: transform .15s ease;
}

#pins > img:hover {
  transform: rotate(5deg) scale(1.15);
}

#bocchi {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
  inset: 0;
  pointer-events: none;
  z-index: 700;
  filter: drop-shadow(0 0 5px #f963ae7f);
}

#mobile-overlay {
  display: none;
}

#footer {
  position: fixed;
  left: -85px;
  bottom: -150px;
  width: 115%;
  z-index: 200;
  filter: drop-shadow(0 0 10px #ff22912f);
  transition: transform .3s ease;
}

#footer:hover {
  transform: translateY(-50px);
}

@media only screen and (max-width: 1279px) {
  #container {
    padding: 5vw;
    gap: 10vw;
  }

  #wave {
    bottom: -5%;
  }

  #name-break {
    display: block;
  }

  #name > h1 {
    text-align: left;
    letter-spacing: initial;
    line-height: 7rem;
  }

  #name > h2 {
    line-height: 3rem;
  }

  #footer {
    bottom: -10vw;
  }
}

@media only screen and (max-width: 960px) {
  #wave {
    left: 0;
  }

  #name > h1 {
    line-height: 6rem;
    inline-size: initial;
    white-space: nowrap;
  }

  #name > h2 {
    line-height: 5rem;
  }

  #cv {
    margin-top: 0;
    font-size: 1.5rem;
  }

  #search-container {
    display: none;
  }

  #pins {
    top: 0;
    flex-direction: column;
  }

  #footer {
    left: 0;
  }
}

@media only screen and (max-width: 576px) {
  #container {
    padding: 1rem;
  }

  #name {
    display: flex;
    flex-direction: column;
  }

  #name > h2, #cv {
    display: none;
  }

  #pins {
    position: fixed;
    right: 2.5rem;
    top: 3rem;
    flex-direction: row;
    gap: 1rem;
  }

  #pins > img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 2rem;
  }

  #mobile-overlay {
    position: fixed;
    left: 3rem;
    bottom: 3rem;
    display: block;
    z-index: 900;
  }

  #mobile-overlay > h2 {
    font-size: 2.5rem;
    color: #ff2291;
    filter: drop-shadow(3px 3px 1px #ffffff9f);
    transition: transform .3s ease;
  }

  #mobile-overlay > h2:hover {
    transform: translateX(5%);
  }

  #mobile-overlay {
    line-height: 3.75rem;
    font-size: 1.75rem;
    width: fit-content;
    filter: drop-shadow(3px 3px 2px #f963ae7f);
    transition: transform .3s ease;
  }
}
